
.marginBottomContainer{
    margin-bottom: 80px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

#login.vertical-align {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

#login .iphoneImage {
    z-index: 10;
    margin-left: -13px;
}


#login .iphoneSlider {
    width: 300px;
    margin: 0 auto;
    margin-top: 60px;
}

#login .down img {
    width: 100%;
    height: auto;
}

#todoList .profileImage img {
    height: 200px;
    margin: 0 auto;
}

.logo h2{
    
    font-size: 100px;
    text-align: center;
    font-family: 'Great Vibes', cursive;
}

.alertBtn {
    cursor: pointer;
}

/* Visualizacion de la prioridad en colores */

.letra{
    
    font-size: 15px;
    text-align: center;
}

.helpme {
    cursor: pointer;
}


.urgente{
    background-color: rgb(203, 67, 53 );

    border-radius: 3px;
    color: white;
}

.diario{
    background-color: rgb(40, 180, 99);
    border-radius: 3px;
    color: white;
}

.mensual{
    background-color:rgb(52, 152, 219 );
    border-radius: 3px;
    color: white;
}


/* cambios de tema  */

#selector-theme{
    top: 40%;
    width: 50px;
    height: 100px;
}

#to-black, #to-pink, #to-blue {
    width: 25px;
    height: 25px;
    border: 1px solid white;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

#to-black {
    background: black;
}

#to-blue {
    background: blue;
}

#to-pink {
    background: rgb(250, 66, 96);
}

