/* body {
    background-color: teal;
} */

.row {
    margin-left: 0;
    margin-right: 0;
}

#login.vertical-align {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

#login .iphoneImage img {
    width: 100%;
}